@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.NavBar{
    width: 100%;
    height: 10vh;
    background-color: gray;
    position:fixed;
    position: absolute;
    display: flex;
    
}
.NavBar1{
    width: 50%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    position: relative;
}

.NavBar1 li{
    list-style-type: none;
    margin-left: 16px;
    margin-top: 20px;
    font-size: 16px;
    }
    .NavBar1 a:hover{
        color: blue;
    }
    
    .NavBar a{
         text-decoration: none;
         color: azure;
         margin-right: 10px;
    }
    .nav1{
       display: flex;

    }
.NavBar .img{
    width: 20%;
    height: 10vh;
    /* background-color: cadetblue */
}
.img img{
    width: 20%;
margin-left: 100px;}
.bodyBig{
    width: 100%;
    height: 250vh;
    background-color: black;
}
.bodyBig .img1{
    width: 100%;
    /* background-color: aqua; */
    justify-content: center;
    padding-top: 100px;
    display: flex;

}
.img1 img{
    margin-top: 10px;
}
.bodyBig .Text1{
    width: 100%;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    margin-top: 18px;

}
.text2 p{
    font-size: 40px;
    margin-left: 100px;
}
.text2 h6{
    font-size: 20px;
    margin-left: 120px;
}
.text2 button{
    width: 100px;
    height: 50px;
    background-color: blue;
    border-radius: 20px;
    color: aliceblue;
    border: none;
    margin-left: 350px;
}
.buu{
    margin-left: 70px;
}
.HomePod{
    display: flex;
    margin-top: 60px;
    justify-content: space-evenly;
}
.feedback{
    width: 100%;
    /* background-color: aquamarine; */
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.feedback .feedback1{
    width: 50%;
    height: 100%;
    /* background-color: beige; */
    overflow: hidden;
    overflow: scroll;

}
.feeedm{
    width: 100%;
    height: 200px;
    border: none;
    padding-left: 30px;
    padding-top: 30px;
    
}